@CHARSET "UTF-8";
body, p, div, table, td, dt, a, span, ul, li {
   font-family: sans-serif;
   font-size: medium;
}
body {
   background: #FFFFFF url(../img/bodybg.jpg) top center repeat-y;
   color: #333;
   padding: 0; margin: 0;
   border: none;
}
a, object, embed { 
  outline: 0;
}
#page { /* Фиксация ширины макета страницы */
    width: 1088px;
	margin: 0 auto 0 auto;
}
td#menu {
	width: 50px;
	padding-top: 10px;
}
#f_right {
	width: 43px;
}
#menu img {
	width: 48px;
	height: 48px;
    border: none;
    margin: 0;
    padding: 0;
}
div {
   border: none;
   margin: 0;
   padding: 0;
   vertical-align:top;
}
p {
   text-align: justify;
}
p.center {
   text-align: center;
}
label.std {
	padding-left: 0.8em;
	vertical-align: top;
}
input.std {
    padding: 3px 2em 5px 2em;
}
a.url {
   color: blue;
   text-decoration: underline;
}
a.unit,
a.unit:link,
a.unit:visited {
   text-decoration: none;
   color: #444444;
   font-weight: bold;
}
a.unit:hover {
   color: #FF4444;
}
a.empl,
a.empl:link,
a.empl:visited {
   color: blue;
   text-decoration: none;
}
a.empl:hover {
   text-decoration: underline;
}
img {
   padding: 0; margin: 0;
   border: none;
}
div.select {
   width: 870px;
   height: 300px;
   overflow: scroll;
   border: solid 1px #B3B3B3;
   background-color: #FFFFFF;
   color: #444;
}
div.select > select{
   border: transparent 0px solid;
   padding: 2px 40px 2px 2px;
   background-color: #FFFFFF;
   color: #444;
}
table {
/* border-collapse: collapse | separate
   border-style: [none | hidden | dotted | dashed | solid | 
               double | groove | ridge | inset | outset] {1,4} | inherit */
   border-collapse: separate; 
   border-style: hidden;
   border: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
td {
   vertical-align: top;
}
td.middle {
   vertical-align: middle;
}
/*
.1x1 {
   width: 1px;
   height: 1px;
   float: clear;
}
*/
.left {
   float:left;
}
.right {
   float: right;
}
.clear {
   float: none;
   clear: both;
}
.tab {
   margin: 0 0 0 2em;
}
.ismap {
   width: 58px;
}
td#content {
   padding: 40px 20px 10px 14px;
   margin: 0;
}
#side_left, #side_right {
   width: 386px;
   padding:0; 
   margin:0 30px 0 30px;
}
#side_left {
   float: left;   
}
#side_right {
   float: right;
}
div.row {
   width: 393px;
   height: 22px;
   line-height: 28px;
   border-bottom: 1px solid #CDCDCD;
   background: #FFFFFF url(../img/bg_gr.gif) 227px top no-repeat; 
}
div.row a {
   text-decoration: none;
   color: #444;
}
div.row a:hover {
   text-decoration: none;
   color: #F44;
}
div.phone {
   cursor: hand; 
   width: 162px;
   height: 22px; 
   position: relative; 
   top: -28px; 
   left: 223px; 
   z-index: 2;
   padding-left: 16px; 
   background: #FFFFFF url(../img/bg_gr.gif) 4px top no-repeat; 
} 
span.selected {
   background-color: #FFFC33;
   color: #FF3333;
}
.departments_url {
   background-color: #EFEFEF;
   width: 180px;
   margin: -3px 0 0 20px;
   padding: 4px 10px 4px 10px;
   text-align: center;
   border: solid 1px #333;
   border-top: none;
   border-left: solid 2px #FFFFFF;
}
.departments_url a,
.departments_url a:link {
   color: #000;
   text-decoration: none;
}
.departments_url a:hover {
   color: red;
}
.h3title {
   background-color: #999999;
   color: #FFFFFF;
   border: solid 1px #FFFFFF;
   border-bottom: solid 1px #888;
   border-right: solid 1px #888;
   padding: 4px 10px 5px 10px;
   margin: 0 0 10px 0;
}
div.edit {
   background-color: #F3F3F3;
   color: #434343;
   border: solid 1px #C3C3C3;
   margin: 10px;
   padding: 0 20px 0 20px;
}
dt {
   margin-top: 10px;
   font-style: italic;
}
.edit H2 {
   border: solid 1px #C3C3C3;
   padding: 4px 8px 2px 8px;
   background-color: #EFEFEF;
   color: #434343;
   background: #EFEFEF url(../img/bg_top.png) top left repeat-x;
   
}
.edit H2>span {
   color: #FF3939;
}
#help, #activator {
   visibility: hidden;
   display: none;
}
.help_title {
   font-weight: bold;
}
UL.q_results LI a,
UL.q_results LI a:link {
   font-weight: bold;
   padding: 4px 0 0 0;
   text-decoration: none;
   color: #434343;
}
UL.q_results LI a:hover {
   color: red;
}
#paginator{
	padding: 0; 
	font-weight: bold;
	text-align: right;
	color: #888888;
}
#paginator li{
	list-style:none;
	display: inline;
	padding: 6px 6px 6px 6px;
	margin: 0 4px 0 4px; 
	background-color: #ffffff;
	border: solid 1px #737373;
	border-top-color: #888888;
	border-left: none;
}
#paginator li.active{
	border-top-color: #F3F3F3;
}
#paginator a,
#paginator a:link,
#paginator a:visited,
#paginator a:hover {
	text-decoration:none;
	color: #883333;
}
td#header {
   padding: 8px 20px 10px 30px;
   border-top: solid 3px #EEEEFF;
   border-left: solid 3px #EEEEFF;
   border-bottom: solid 1px #888;
}
td#labels {
   width: 65px;
   padding: 0; margin: 0;
   border: none;
}
UL.labels{
	margin: 0 0 0 0;
	padding: 0;
}
UL.labels LI{
	list-style-type: none;
	margin: 0;
	padding: 6px 0 4px 10px;
	border-bottom: 1px solid #A6A6A6;
	border-left: 1px solid #B5B5B5;
	background:  #FFFFFF url(../img/bg_input.png) top left repeat-x;
}
UL.labels LI.current{
	border-left: 1px solid #FFFFFF;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: large;
	color: #880000;
	background: none;
	background-color: #FFFFFF;
}
UL.labels LI A {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: large;
}
UL.labels LI a,
UL.labels LI a:link,
UL.labels LI a:visited,
UL.labels LI a:hover {
	color: #298BA3;
	text-decoration: none;
}
#header div#site-search {
	float: right;
	width: 270px;
}

#search-button {
	margin: 0 0 1px 4px;
	padding: 0 0 0 0;
	vertical-align: bottom;
}

td#deps_content {
   padding: 12px 20px 20px 30px;
   border-top: solid 1px #FFFFFF;
   border-left: solid 3px #EEEEFF;
}
table.page {
	width: 100%;
	border-spacing: 0px;
}
ul.unit_list li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.jobs_list {
	background-color: transparent;
	padding: 2px 2px 4px 2px;
/*    border: solid 1px #CDCDCD;
    border-width: 1px 1px 0px 1px; */
    border: none;
    border-top: 1px dotted #CDCDCD;
    margin: 4px 0px 8px 0px;
	width: 100%;
}
.jobs_list td {
	background-color: transparent;
    padding: 0 0 0 0;
}
.jobs_list td.job {
	font-style: normal;
	color: #303030;
	font-size: 14px;
}
.jobs_list .fl td {
	padding-top: 0px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #CDCDCD;
}
td a.empl {
    margin-left: 1em;	
}
div.cell{
	float: left;
	padding:0 0 6px 12px;
}
