<body style="margin: 10px;"><div style="padding: 1em; border: solid 1px #AEAEAE;
width: 500px; margin: 0 auto 0 auto;">

<h1 style="align: center; text-align: center; background-color: #444444; 
color: #F3F3F3; padding: 4px 0 2px 0;">Активация рабочего места</h1>

<p>Это сообщение отправлено на Ваш email из Телефонного Справочника для активации
рабочего места. Чтобы увеличить статус до уровня "Пользователь" перейдите по ссылке:</p>

<h3 style="text-align: center;"><a href="#URL#">активировать</a></h3>

<p>Если в базе Справочника у Вас уже есть рабочее место с рейтингом более 4,
активированое ранее этим-же адресом электронной почты, то новое рабочее место
получит тот-же рейтинг.</p>

<p>Обращаем Ваше внимание на то, что данная ссылка будет работать только для того
рабочего места (компьютера/браузера), с которого Вы нажали кнопку "Активировать".
Переход по данной ссылке с другого компьютера/браузера приведет к ошибке, и
активация выполнена не будет.</p>

</div></body>